* {
  box-sizing: border-box;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.logo {
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.title {
  margin-left: 3em;
}

.git {
  margin-left: 55em;
}

.repo {
  margin-left: 2em;
}

.main {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 90vh;
}

.search {
  margin-top: 4em;
}
